body {
    margin: 0 auto;
    padding: 0;
    color: #333333;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    background: #f2f2f2;
}

* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}

.main-container {
    margin: 0 auto;
    width: 1200px;
    background-color: #fff;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.main-navigation {
    margin: 0 auto;
    line-height: 26px;
    position: relative;
    background: #fff;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    vertical-align: top;
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 13px 20px;
    box-sizing: border-box;
}

.main-navigation li:nth-child(2) {
    margin-right: 20%;
}

.main-navigation a {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.main-navigation a:hover {
    color: #a3c7de;
}

.main-navigation a:active {
    color: #b2b2b2;
}

a.menu-active {
    color: #766357;
}

a.menu-active:hover {
    color: #604e43;
}

a.menu-active:active {
    color: d6d0cc;
}

.logo {
    width: 138px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;

}

.content-logo {
    background: url(../img/intro.jpg);
    width: 1200px;
    min-height: 510px;
    text-align: center;
    position: relative;
}

.content-logo img {
    text-align: center;
    width: 458px;
    height: 352px;
    position: absolute;
    top: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.content-logo::before {
    content: '';
    background: url(../img/mask.png);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    position: absolute;
}

.about {
    margin: 0 auto 27px;
    text-align: center;
    width: 1200px;
    min-height: 155px;
    padding-top: 32px;
    background: #fff;
}

.about h1 {
    margin-top: 25px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 29px;
}

.about p {
    font-size: 14px;
    line-height: 26px;
    font-weight: 200;
    color: #333333;

}

.feauters:nth-child(2n-1) p {
    font-size: 21px;
    line-height: 21px;
    color: #ffffff;
    font-weight: bold;
}

.features-content-item {
    float: left;
    width: 400px;
    min-height: 256px;
    background-color: #81b3d2;
    color: #fff;
}

.features-content-photo {
    width: 800px;
    line-height: 0;
    float: right;
}

.features-title {
    text-align: center;
    vertical-align: middle;
    padding: 50px 130px 0;
    margin-top: 0;
    line-height: 24px;
    margin-bottom: 22px;
}

.features-number {
    margin-bottom: 20px;
}

.features-descr {
    letter-spacing: 0.3px;
}

.features-content-item p {
    margin-top: 0;
    text-align: center;
}

.feature-content {
    margin: 0 auto;
    min-width: 1200px;
    background: #fff;
    padding-top: 60px;
    padding-bottom: 68px;
}

.feature-item-extra {
    float: left;
    text-align: center;
    min-height: 160px;
    width: 33.33%;
    padding-left: 20px;
    padding-top: 85px;
    padding-right: 20px;
    position: relative;
    box-sizing: border-box;
}

.feature-item-extra h2 {
    margin-bottom: 23px;
}

.feature-item-extra p {
    padding: 0 30px;
}

.icon-1::before {
    content: "";
    background-image: url(../img/house.png);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.icon-2::before {
    content: "";
    background-image: url(../img/burger.png);
    background-repeat: no-repeat;
    width: 74px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.icon-3::before {
    content: "";
    background-image: url(../img/present.png);
    background-repeat: no-repeat;
    width: 64px;
    height: 76px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.feature-item-extra:last-child {
    margin-right: 0;
}

.advantage-content {
    background-color: #eeeeee;
}

.advantage-content-photo {
    width: 800px;
    line-height: 0;
    float: left;
}

.advantage-content-item {
    width: 400px;
    min-height: 256px;
    float: right;
    background-color: #81b3d2;
    color: #fff;

}

.advantage-title {
    text-align: center;
    margin-top: 0;
    padding: 54px 115px 0;
    line-height: 24px;
    margin-bottom: 22px;
}

.advantage-content-item p {
    text-align: center;
    margin-top: 0;
}

.advantage-descr {
    letter-spacing: 0.3px;
    padding: 0 37px;
}

.advantage-item-extra {
    float: left;
    text-align: center;
    min-height: 230px;
    width: 33.33%;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 43px;
}

.advantage-item-extra:last-child {
    margin-right: 0;
}

.advantage-item-title {
    margin-top: 0;
    line-height: 26px;
    padding: 14px 125px 0;
}

.advantage-number {
    margin-top: 0;
    margin-bottom: 20px;
}

.extra-descr {
    letter-spacing: 0.5;
    padding: 0 60px;
}

.search {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    background: #fff;
    padding-top: 58px;
    text-align: center;
}

.search h2 {
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 30px;
    font-weight: 700;
}

.choose-hotel {
    text-align: center;
    position: relative;
}

.choose-hotel-btn {
    display: inline-block;
    background-color: #766357;
    color: #fff;
    text-decoration: none;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    min-width: 560px;
    margin-top: 32px;
    padding: 35px 2px;

}

.choose-hotel-btn:hover {
    background: #604e43;
}

/* FORM */

.choose-wrap {
    position: relative;
}

.choose-hotel-popup {
    width: 568px;
    min-height: 395px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 100%;
    background: #fff;
    transform: translateX(-50%);
    z-index: 1;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);
    padding: 53px 55px;
}

.form-row {
    position: relative;
    margin-bottom: 26px;
    padding: 0;
    border: none;
    font-size: 0;
    font-weight: 700;
    text-align: left;
}

.counters {
    position: relative;
    top: 0px;
    margin: 0;
    margin-bottom: 31px;
    padding: 0;
    border: none;
    font-size: 0;
    font-weight: 700;
    text-align: left;
}

.icon-calendar {
    position: absolute;
    top: 10px;
    right: 15px;
    background: url(../img/calendar-sprite.png) no-repeat;
    background-position: -10px -10px;
    width: 21px;
    height: 22px;
}

.icon-calendar:hover {
    background: url(../img/calendar-sprite.png) no-repeat;
    background-position: -92px -10px;
    width: 21px;
    height: 22px;
}

.icon-calendar:active {
    background: url(../img/calendar-sprite.png) no-repeat;
    background-position: -51px -10px;
    width: 21px;
    height: 22px;
}

.form .form-label {
    display: inline-block;
    vertical-align: top;
    width: 105px;
    font-size: 14px;
    line-height: 41px;
}

.form .form-input {
    display: inline-block;
    vertical-align: top;
    font-weight: 600;

}

.form .form-input:focus {
    background-color: #fff;
    outline: 1px solid #e5e5e5;
}

.form .form-input-date {
    width: 343px;
    padding-right: 38px;
}

.form-input {
    box-sizing: border-box;
    padding: 8px;
    border: 2px solid #f2f2f2;
    outline: none;
    font-size: 14px;
    line-height: 18px;
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase;
    background: #f2f2f2;
}

.counter {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;

}

.form-input-counter {
    padding: 8px 0;
    text-align: center;
    width: 38px;

}

.icon-minus {
    position: relative;
}

.icon-minus::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 50%;
    display: inline-block;
    width: 12px;
    height: 3px;
    background: url(../img/plus-minus-sprite.png) no-repeat;
    background-position: -15px -15px;
}

.icon-minus:hover::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 50%;
    display: inline-block;
    width: 12px;
    height: 3px;
    background: url(../img/plus-minus-sprite.png) no-repeat;
    background-position: -15px -48px;
}

.icon-minus:active::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 50%;
    display: inline-block;
    width: 12px;
    height: 3px;
    background: url(../img/plus-minus-sprite.png) no-repeat;
    background-position: -57px -15px;
}

.icon-plus {
    position: relative;
}

.icon-plus::before {
    content: "";
    position: absolute;
    top: 13px;
    right: 50%;
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url(../img/plus-minus-sprite.png) no-repeat;
    background-position: -57px -48px;
}

.icon-plus:hover::before {
    content: "";
    position: absolute;
    top: 13px;
    right: 50%;
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url(../img/plus-minus-sprite.png) no-repeat;
    background-position: -98px -56px;
}

.icon-plus:active::before {
    content: "";
    position: absolute;
    top: 13px;
    right: 50%;
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url(../img/plus-minus-sprite.png) no-repeat;
    background-position: -99px -15px;
}

.counter .form-label[for="counter-children"] {
    margin-left: 50px;
    width: 65px;
}

.counter button {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border: none;
    outline: none;
    color: #a9a9a9;
    background: #f2f2f2;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.form .btn {
    width: 100%;
    margin-top: 24px;
    padding: 16px;
    font-size: 21px;
    line-height: 26px;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 20px 17px;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 21px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: #81b3d2;
    cursor: pointer;
}

.btn:hover {
    background: #669ec0;
}

.form .btn:active {
    color: #7eb0cd;
    background-color: #5496bd;
}

.main-footer {
    position: relative;
    min-height: 123px;
    z-index: 1;
    font-size: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: -123px;
}

.main-footer-hotel {
    margin-top: 0;
}

.footer-hashtag a {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000;
    text-decoration: none;
}

.footer-hashtag a:hover {
    color: #81b3d2;
}

.footer-hashtag {
    float: left;
    line-height: 21px;
    font-size: 14px;
    width: 330px;
    padding: 44px 35px;
}

.footer-social {
    width: 200px;
    margin: 0 auto;
    padding: 25px 0 25px 6px;
}

.social-btn {
    display: inline-block;
    margin: 10px 2px;
    width: 47px;
    height: 47px;
    font-size: 0;
    vertical-align: top;
    text-align: center;
    background-color: #81b3d2;
    position: relative;
}

.social-btn:hover {
    background-color: #669ec0;
}

.social-btn:active::after {
    opacity: 0.5;
}

.social-btn-tw::after {
    content: "";
    background: url(../img/tw.png);
    width: 17px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.social-btn-fb::after {
    content: "";
    background: url(../img/fb.png);
    width: 10px;
    height: 19px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.social-btn-ytb::after {
    content: "";
    background: url(../img/yb.png);
    width: 20px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}

.footer-copyright {
    position: relative;
    float: right;
    width: 240px;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    padding-right: 142px;
    padding-top: 45px;
}

.footer-copyright a {
    content: "";
    position: absolute;
    top: 50%;
    left: 38%;
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
    width: 113px;
    height: 39px;
    font-size: 0;
    background: url(../img/academy.png) no-repeat;
}

.footer-copyright a:hover {
    background: url(../img/academy-hvr.png) no-repeat;
}

.footer-copyright a:active {
    background: url(../img/academy-down.png);
}

.filter-form {
    background: url(../img/hotels-intro.jpg) 1200px 326px no-repeat;
    background-position: center;
    color: #fff;
    margin: 0 auto;
    padding-top: 20px;

}

.filter-form ul {
    padding: 0;
    margin: 0;
    padding-left: 40px;
}

.filter-form li {
    list-style: none;
    font-size: 14px;
    line-height: 21px;
    vertical-align: top;
    margin-bottom: 25px;

}

.infrastructure {
    width: 220px;
    padding-top: 10px;
    float: left;
    margin-right: 15px;
    border: none;
}

.infrastructure-heading {
    margin-bottom: 10px;
    padding-top: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.hotel-type {
    width: 230px;
    float: left;
    margin-right: 60px;
    border: none;
}

.hotel-type-heading {
    padding-top: 10px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.filter-range {
    float: right;
    width: 330px;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 70px;
    margin-bottom: 30px;

}

.filter-range-title {
    padding-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 34px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price {
    width: 160px;
    padding-left: 65px;
}

.price-controls .max-price {
    width: 160px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    height: 22px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

.infrastructure-heading,
.hotel-type-heading {
    padding-left: 60px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 40px;
    margin-left: 20px;
    line-height: 22px;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/checkbox-sprite.png) no-repeat;
    background-position: -56px -10px;
    position: absolute;
    top: 0;
    left: 0;
}

input[type="checkbox"]:checked + label::before {
    width: 26px;
    background-position: -10px -10px;
}

/* Sorting */

.sorting {
    padding-top: 26px;
    padding-bottom: 23px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}

.sort-title {
    float: left;
    width: 162px;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin-left: 70px;
    color: #000000;
}

.sort-list {
    float: left;
    width: 700px;
    padding: 7px 0 5px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.arrows {
    float: right;
    width: 50px;
    font-size: 0;
    text-align: right;
}

.sort-list .sort-name {
    margin-right: 40px;
    color: #000000;
}

.sort-list ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    vertical-align: top;
}

.sort-list li {
    display: inline-block;
    margin-right: 33px;
    vertical-align: top;
}

.sort-list li:last-child {
    margin-right: 0;
}

.sort-list a {
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    border-bottom: 1px dotted #81b3d2;
}

.sort-list a:hover:not(.active-link) {
    color: #81b3d2;
}

.sort-list a:active:not(.active-link) {
    color: #000000;
    border-bottom: none;
}

.sort-list .active-link {
    color: #81b3d2;
    border-bottom: none;
}

.arrows {
    padding-right: 73px;
}

.arrows .arrow-up {
    position: relative;
}

.arrows .arrow-up::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 25px;
    width: 0;
    height: 0;
    font-size: 0;
    border: 5px solid transparent;
    border-bottom: 10px solid #cccccc;
}

.arrows .arrow-up:hover:not(.active-link)::before {
    border-bottom-color: #000000;
}

.arrows .arrow-up:active:not(.active-link)::before {
    border-bottom-color: #81b3d2;
}

.arrow-up.active-link::before {
    border-bottom-color: #81b3d2;
}

.arrows .arrow-down {
    position: relative;
}

.arrows .arrow-down::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    width: 0;
    height: 0;
    font-size: 0;
    border: 5px solid transparent;
    border-top: 10px solid #cccccc;
}

.arrow-down.active-link::before {
    border-top-color: #81b3d2;
}

.arrows .arrow-down:hover:not(.active-link)::before {
    border-top-color: #000000;
}

.arrows .arrow-down:active:not(.active-link)::before {
    border-top-color: #81b3d2;
}

.hotels {
    background-color: #fff;
    box-sizing: border-box;
}

.hotel {
    padding: 0 72px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-img {
    float: left;
    width: 135px;
    margin-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.hotel-img img {
    display: block;
}

.hotel-about {
    float: left;
    width: 355px;
    margin-right: 60px;
}

.hotel-title a {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    vertical-align: top;
    margin: 0;
    padding: 0;
    margin-top: 22px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #000;
}

.hotel-title a:hover {
    color: #81b3d2;
}

.hotel-title a:active {
    color: #b2b2b2;
}

.hotel-rates {
    float: right;
    width: 110px;
    text-align: right;
}

.hotels-stars {
    padding-top: 28px;
}

.hotel-rating {
    margin-top: 40px;
    padding: 5px 0;
    text-align: center;
    color: #666;
    background-color: #f2f2f2;
}

.hotel-types {
    display: inline-block;
    width: 110px;
    padding-bottom: 15px;
}

.hotel-more {
    background-color: #81b3d2;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    padding: 5px 15px;
}

.hotel-reserved {
    background-color: #766357;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    padding: 5px 15px;
}

.hotel-more:hover {
    background-color: #669ec0;
}

.hotel-more:active {
    color: #cccccc;
    background-color: #5496bd;
}

.hotel-reserved:hover {
    background-color: #604e43;
}

.hotel-reserved:active {
    background-color: #503e33;
    color: #857871;
}

/* js */
.popup-close {
    display: none;
}